TASK-5
The objective is to build a machine learning model to identify fraudulent credit card transactions. Preprocess and normalize the transaction data, handle class imbalance issues, and split the dataset into training and testing sets. Train a classification algorithm, such as logistic regression or random forests, to classify transactions as fraudulent or genuine.
Evaluate the model's performance using metrics like precision, recall, and F1-score, and consider techniques like oversampling or under sampling for improving results.

In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
credit_card_data=pd.read_csv('creditcard.csv')
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
# separating the data for analysis
not_fraud = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [8]:
print(not_fraud.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [9]:
# statistical measures of the data
not_fraud.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     156.000000
mean       95.758013
std       228.178528
min         0.000000
25%         1.000000
50%         4.930000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [13]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,30600.766816,-0.222674,-0.018472,0.721307,0.161099,-0.244542,0.107561,-0.096454,0.045242,0.092669,...,0.046438,-0.031322,-0.106872,-0.038113,0.007273,0.134525,0.020398,0.002097,0.004102,94.703197
1.0,27835.794872,-7.345427,5.255872,-9.922599,5.709553,-5.426307,-2.204159,-7.736462,3.560034,-3.453697,...,0.449731,0.881689,-0.211806,-0.275513,-0.088146,0.239724,0.127377,0.580843,0.031086,95.758013

In [14]:
not_fraud_sample = not_fraud.sample(n=492) #takes a random sample of 492 rows from the not_fraud DataFrame.
new_dataset = pd.concat([not_fraud_sample, fraud], axis=0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
15466,26852,1.207315,-0.028825,-0.211620,0.763213,0.367964,0.600101,-0.063089,0.151570,0.257969,...,-0.253342,-0.769807,-0.236558,-1.426600,0.692122,-0.426037,0.010321,0.004005,49.45,0.0
49946,44276,1.251325,0.757869,-0.084439,2.369997,0.485493,-0.547429,0.602436,-0.284635,-1.103291,...,-0.037360,-0.113463,-0.178870,-0.100785,0.812038,0.097151,-0.038106,0.007339,9.97,0.0
39654,39914,-7.346433,6.308177,-3.019775,-1.625954,-1.644740,-0.624973,-0.663542,1.697959,4.034938,...,-1.006554,-1.360766,0.270238,-0.888902,1.328948,0.187997,2.071567,1.123830,8.95,0.0
45877,42534,-2.795346,3.660775,-1.508968,1.118360,-0.855779,0.765341,-3.804460,-7.663018,-1.605528,...,-2.899279,1.186918,0.757014,0.113623,-0.206789,-0.364723,0.119705,0.189285,1.00,0.0
39281,39772,0.845702,-0.580135,1.084927,0.573585,-0.256650,2.084678,-0.976582,0.793833,0.615226,...,0.115194,0.525700,0.095240,-0.961374,-0.103114,0.421108,0.075443,0.012427,64.06,0.0

In [16]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
52521,45501,1.001992,0.047938,-0.349002,1.493958,0.186939,0.190966,-0.001112,0.147140,0.580415,...,-0.334417,-1.014315,-0.128427,-0.946242,0.456090,-0.453206,0.046627,0.064698,105.99,1.0
52584,45541,-1.519244,2.308492,-1.503599,2.064101,-1.000845,-1.016897,-2.059731,-0.275166,-1.562206,...,1.307871,0.102826,-0.017746,0.149696,-0.096602,-0.369115,-0.019244,-0.208319,1.00,1.0
53591,46057,-1.309441,1.786495,-1.371070,1.214335,-0.336642,-1.390120,-1.709109,0.667748,-1.699809,...,0.533521,-0.022180,-0.299556,-0.226416,0.364360,-0.475102,0.571426,0.293426,1.00,1.0
53794,46149,-1.346509,2.132431,-1.854355,2.116998,-1.070378,-1.092671,-2.230986,1.036425,-1.895516,...,0.609508,0.202874,-0.060791,-0.186733,-0.017401,-0.283751,0.395451,0.233139,1.00,1.0
55401,46925,-0.481531,1.059542,0.647117,0.905586,0.819368,-0.091184,0.504135,0.161064,-0.765054,...,0.070633,0.192491,-0.174659,-0.438908,0.239259,-0.217823,-0.072852,0.010463,1.00,1.0

In [17]:
new_dataset['Class'].value_counts()

0.0    492
1.0    156
Name: Class, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,29983.002033,-0.196423,0.023055,0.727410,0.176506,-0.235670,0.123923,-0.098082,0.116126,0.149929,...,0.050303,-0.070669,-0.112672,-0.033978,-0.010078,0.160484,0.021225,0.010214,0.020525,88.276199
1.0,27835.794872,-7.345427,5.255872,-9.922599,5.709553,-5.426307,-2.204159,-7.736462,3.560034,-3.453697,...,0.449731,0.881689,-0.211806,-0.275513,-0.088146,0.239724,0.127377,0.580843,0.031086,95.758013

In [19]:
#Splitting the data into Features & Targets
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
15466  26852  1.207315 -0.028825 -0.211620  0.763213  0.367964  0.600101
49946  44276  1.251325  0.757869 -0.084439  2.369997  0.485493 -0.547429
39654  39914 -7.346433  6.308177 -3.019775 -1.625954 -1.644740 -0.624973
45877  42534 -2.795346  3.660775 -1.508968  1.118360 -0.855779  0.765341
39281  39772  0.845702 -0.580135  1.084927  0.573585 -0.256650  2.084678
...      ...       ...       ...       ...       ...       ...       ...
52521  45501  1.001992  0.047938 -0.349002  1.493958  0.186939  0.190966
52584  45541 -1.519244  2.308492 -1.503599  2.064101 -1.000845 -1.016897
53591  46057 -1.309441  1.786495 -1.371070  1.214335 -0.336642 -1.390120
53794  46149 -1.346509  2.132431 -1.854355  2.116998 -1.070378 -1.092671
55401  46925 -0.481531  1.059542  0.647117  0.905586  0.819368 -0.091184

             V7        V8        V9  ...       V20       V21       V22  \
15466 -0.063089  0.151570  0.257969  ... -0.043192 -0.253342 -0.769807
49946  0.602436 -0.284635 -1.103291  ... -0.101327 -0.037360 -0.113463
39654 -0.663542  1.697959  4.034938  ...  3.167479 -1.006554 -1.360766
45877 -3.804460 -7.663018 -1.605528  ...  1.827200 -2.899279  1.186918
39281 -0.976582  0.793833  0.615226  ... -0.100272  0.115194  0.525700
...         ...       ...       ...  ...       ...       ...       ...
52521 -0.001112  0.147140  0.580415  ...  0.016004 -0.334417 -1.014315
52584 -2.059731 -0.275166 -1.562206  ...  0.175019  1.307871  0.102826
53591 -1.709109  0.667748 -1.699809  ...  0.253464  0.533521 -0.022180
53794 -2.230986  1.036425 -1.895516  ...  0.221919  0.609508  0.202874
55401  0.504135  0.161064 -0.765054  ... -0.042515  0.070633  0.192491

            V23       V24       V25       V26       V27       V28  Amount
15466 -0.236558 -1.426600  0.692122 -0.426037  0.010321  0.004005   49.45
49946 -0.178870 -0.100785  0.812038  0.097151 -0.038106  0.007339    9.97
39654  0.270238 -0.888902  1.328948  0.187997  2.071567  1.123830    8.95
45877  0.757014  0.113623 -0.206789 -0.364723  0.119705  0.189285    1.00
39281  0.095240 -0.961374 -0.103114  0.421108  0.075443  0.012427   64.06
...         ...       ...       ...       ...       ...       ...     ...
52521 -0.128427 -0.946242  0.456090 -0.453206  0.046627  0.064698  105.99
52584 -0.017746  0.149696 -0.096602 -0.369115 -0.019244 -0.208319    1.00
53591 -0.299556 -0.226416  0.364360 -0.475102  0.571426  0.293426    1.00
53794 -0.060791 -0.186733 -0.017401 -0.283751  0.395451  0.233139    1.00
55401 -0.174659 -0.438908  0.239259 -0.217823 -0.072852  0.010463    1.00

[648 rows x 30 columns]

In [20]:
print(Y)

15466    0.0
49946    0.0
39654    0.0
45877    0.0
39281    0.0
        ...
52521    1.0
52584    1.0
53591    1.0
53794    1.0
55401    1.0
Name: Class, Length: 648, dtype: float64

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)
print(X.shape, X_train.shape, X_test.shape)

(648, 30) (518, 30) (130, 30)

In [24]:
model = LogisticRegression()
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [25]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.971042471042471

In [26]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9769230769230769